# Web framework
quart
aiohttp

# URL and HTTP related
tldextract
requests
user_agent
pyngrok
lxml

# Database drivers and ORMs
aiomysql
asyncpg
psycopg2-binary
sqlalchemy

# Date and time management
pytz
python-dateutil

# Parsing tools
feedparser
ruamel.yaml

# Caching tools
cachetools

# String manipulation and comparison
fuzzywuzzy
python-Levenshtein

# Configuration and environment management
python-dotenv