# Web framework
quart
aiohttp

# URL and HTTP related
tldextract
user_agent
pyngrok
lxml

# Database drivers and ORMs
aiomysql
asyncpg
psycopg2-binary
sqlalchemy

# Date and time management
pytz
python-dateutil

# Parsing tools
feedparser
ruamel.yaml

# Caching tools
cachetools

# String manipulation and comparison
rapidfuzz

# Configuration and environment management
python-dotenv

# NLP
spacy
scikit-learn
pandas
yake
rake-nltk