<template x-for="item in $store.sharedState.feed_items" :key="item.id">
    <div class="col-12 col-md-6 col-lg-5 col-xl-3 d-flex pb-3">
        <div class="card bg-dark text-light mb-3 shadow flex-fill feed-card" @click.stop="openModal(item)">
            <img class="card-img-top img-fluid" :src="item.thumbnail" alt="" loading="lazy" />
            <div class="card-body">
                <h5 class="card-title" x-text="item.title"></h5>
                <p class="card-text" x-text="item.summary"></p>
                <div class="d-flex justify-content-between align-items-center">
                    <small x-text="'by ' + item.additional_info.creator"></small>
                    <small x-text="item.published_date"></small>
                </div>
                <div class="mt-2">
                    <template x-for="web_name in item.additional_info.web_name">
                        <span class="badge bg-primary badge-pill" x-text="web_name"></span>
                    </template>
                    <template x-for="tag in item.additional_info.tags">
                        <span class="badge bg-secondary badge-pill" x-text="tag"></span>
                    </template>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-light w-100" @click.stop="openModal">View More <i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
    <!-- Modal Dialog -->
    <div x-show="item.open" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" x-text="item.title"></h5>
                    <button type="button" class="close text-light" @click="closeModal(item)" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" x-html="item.formattedContent"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="closeModal(item)">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>