<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <title>Hermes Feed</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mb-5" style="z-index: 1000;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Hermes Feed</a>
      <div id="nav-left" class="navbar-nav">
        <a href="#" id="main" class="nav-link" data-category="main">Main</a>
        <a href="#" id="adult" class="nav-link" data-category="adult">Adult</a> 
      </div>
      <div id="nav-right">
        <button id="refresh-button" class="btn btn-outline-light">
          <i class="fas fa-sync-alt"></i>
        </button>
      </div>
    </div>
  </nav>
  <div class="lower-backdrop" style="display: none;"></div>
  <div class="container container-md mt-auto">
    <div class="row feed-container" 
        x-data="feedManager()"
        x-init="init()" 
        @scroll.window="handleScroll">
        <!-- Load feeds here from feed_items.html -->
    </div>
  </div>
  <div id="spinner" class="page-load-status d-flex justify-content-center" style="display:none;" role="status">
    <div x-show="loading" class="spinner-border text-primary" role="status"></div>
    <span class="visually-hidden loader">Loading...</span>
  </div>
  <footer class="bg-dark text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p>Copyright © 2023 Hermes Feed. All rights reserved.</p>
      <p>Contact: info@hermesfeed.com</p>
    </div>
  </footer>
</body>
</html>
