<nav
    id="navbar"
    class="navbar navbar-expand-md"
    x-data="{ open: false, theme: 'light', changeTheme: window.changeTheme }"
    :class="{ 'navbar-light': theme === 'light', 'navbar-dark': theme !== 'light' }"
    x-init="$watch('theme', value => changeTheme(value))"
>
    <div class="container-fluid d-flex justify-content-between">
        <button
            @click="open = !open"
            class="navbar-toggler"
            type="button"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            :class="{'show': open}"
            class="collapse navbar-collapse"
            id="navbarNav"
        >
            <!-- Category Div: Left -->
            <div class="d-flex align-items-center">
                <a
                    href="https://aniwave.to/user/watch-list?folder=1&keyword=&sort=recently_updated"
                    target="_blank"
                    class="btn btn-outline-light ml-2"
                >
                    <img
                        src="https://s2.bunnycdn.ru/assets/sites/aniwave/favicon1.png"
                        alt="Aniwave"
                        style="width: 20px; height: 20px"
                    />
                </a>
                <a
                    href="https://myanimelist.net/anime/season"
                    target="_blank"
                    class="btn btn-outline-light ml-2"
                >
                    <img
                        src="https://cdn.myanimelist.net/images/favicon.ico"
                        alt="MyAnimeList"
                        style="width: 20px; height: 20px"
                    />
                </a>
                <a
                    href="https://discord.com/app"
                    target="_blank"
                    class="btn btn-outline-light ml-2"
                >
                    <img
                        src="https://discord.com/assets/images/favicon.ico"
                        alt="Discord"
                        style="width: 20px; height: 20px"
                    />
                </a>
                <a
                    href="https://chat.openai.com/"
                    target="_blank"
                    class="btn btn-outline-light ml-2"
                >
                    <img
                        src="https://cdn.oaistatic.com/_next/static/media/favicon-32x32.be48395e.png"
                        alt="ChatGPT"
                        style="width: 20px; height: 20px"
                    />
                </a>
            </div>

            <!-- Search: Center -->
            <div
                class="d-flex justify-content-center align-items-center mx-auto"
            >
                <input
                    type="text"
                    id="search-box"
                    placeholder="Search..."
                    class="form-control"
                />
                <button
                    id="search-button"
                    class="btn btn-outline ml-2"
                    x-on:click="search"
                >
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <!-- Right Items: Right -->
            <div class="d-flex align-items-center">
                <div class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle btn btn-outline ml-2"
                        href="#"
                        role="button"
                        id="themeDropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Theme
                    </a>
                    <div
                        class="dropdown-menu dropdown-menu-right"
                        aria-labelledby="themeDropdown"
                    >
                        <a
                            class="dropdown-item"
                            href="#"
                            @click.prevent="theme = 'light'"
                            >Light</a
                        >
                        <a
                            class="dropdown-item"
                            href="#"
                            @click.prevent="theme = 'dark'"
                            >Dark</a
                        >
                        <a
                            class="dropdown-item"
                            href="#"
                            @click.prevent="theme = 'latte'"
                            >🌻 Latte</a
                        >
                        <a
                            class="dropdown-item"
                            href="#"
                            @click.prevent="theme = 'frappe'"
                            >🪴 Frappé</a
                        >
                        <a
                            class="dropdown-item"
                            href="#"
                            @click.prevent="theme = 'macchiato'"
                            >🌺 Macchiato</a
                        >
                        <a
                            class="dropdown-item"
                            href="#"
                            @click.prevent="theme = 'mocha'"
                            >🌿 Mocha</a
                        >
                    </div>
                </div>
                <button
                    id="refresh-button"
                    class="btn btn-outline-light ml-2"
                >
                    <i class="fas fa-sync-alt"></i>
                </button>
            </div>
        </div>
    </div>
</nav>