<div id="sidebar" x-data="sidebarManager()">
    <div id="sidebar-container" class="vh-100 w-100 overflow-auto text-light border-right bg-dark opacity-75">
        <nav class="row justify-content-center mb-4">
            <div class="input-group input-group-lg">
                <span class="input-group-text bg-light border-0 rounded-left">
                    <i class="fas fa-search text-muted"></i>
                </span>
                <input 
                    type="text" 
                    id="search-box" 
                    x-ref="searchBox"
                    class="form-control bg-light text-dark border-0 shadow-sm" 
                    placeholder="Search articles, news, etc..."
                    aria-label="Search for articles, news, and more"
                    x-on:input.debounce.500ms="search()"
                >
                <button 
                    class="btn btn-light border-0" 
                    type="button" 
                    id="clearSearch" 
                    x-show="searchQuery"
                    @click.stop="goBack();"
                >
                    <i class="fas fa-times"></i>
                </button>
            </div>                    
        </nav>

        <section class="d-flex flex-column align-items-center mb-4">
            <button class="btn btn-primary mb-2 w-100 align-items-center justify-content-start">
                <i class="fas fa-home me-2"></i> Home
            </button>
        </section>

        <div class="text-center mb-4">
            <button class="btn btn-secondary d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
                <i class="fas fa-plus me-2"></i> Add Category
            </button>
        </div>

        <div x-show="$store.sharedState != null && $store.sharedState.categories != null && $store.sharedState.categories.length > 0">
            <section class="accordion" id="categoryAccordion">
                <template x-for="category in $store.sharedState.categories" :key="category.id">
                    <article class="accordion-item bg-transparent">
                        <h2 class="accordion-header d-flex justify-content-between align-items-center" :id="'heading' + category.id">
                            <button class="accordion-button collapsed bg-transparent text-light" type="button" data-bs-toggle="collapse" :data-bs-target="'#collapse' + category.id" @click.stop="fetchFeeds(category)" aria-expanded="false" :aria-controls="'collapse' + category.id">
                                <i class="fas fa-chevron-down me-2"></i>
                                <span x-text="category.name"></span>
                            </button>
                            <div>
                                <i class="fas fa-plus me-2" @click.stop="selectedCategory = category" data-bs-toggle="modal" data-bs-target="#addFeedModal"></i>
                                <i class="fas fa-times" @click.stop="removeCategory(category)"></i>
                            </div>
                        </h2>
                        <div :id="'collapse' + category.id" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#categoryAccordion">
                            <div class="accordion-body bg-transparent">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item bg-transparent text-light"  @.stop="goBack(category.id)">
                                        <i class="fas fa-rss me-2"></i> All Feeds
                                    </li>
                                    <template x-for="feed in category.feeds" :key="feed.id">
                                        <li class="list-group-item bg-transparent text-light" @click.stop="search(feed.url, category)">
                                            <i class="fas fa-rss me-2" @click.stop="search(feed.url, category)"></i>
                                            <span x-text="feed.name" @click.stop="search(feed.url, category)"></span>
                                            <i class="fas fa-times float-end" @click.stop="removeFeed(category, feed)"></i>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                    </article>
                </template>
            </section>
        </div>
    </div>
    <!-- Add Category Modal -->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="z-index: 2000; position: relative">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form for adding category -->
                    <input type="text" id="newCategoryName" class="form-control" placeholder="Category Name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click.stop="addCategory()">Done</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Feed Modal -->
    <div class="modal fade" id="addFeedModal" tabindex="-1" aria-labelledby="addFeedModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="z-index: 2000; position: relative">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFeedModalLabel">Add Feed</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form for adding feed manually -->
                    <input type="text" id="newFeedName" class="form-control mb-2" placeholder="Feed Name">
                    <input type="url" id="newFeedUrl" class="form-control mb-2" placeholder="Feed URL">
                    <textarea id="newFeedDescription" class="form-control mb-2" placeholder="Feed Description"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click.stop="importOPML(selectedCategory)">Import OPML</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click.stop="addFeed(selectedCategory, document.getElementById('newFeedName').value, document.getElementById('newFeedUrl').value, document.getElementById('newFeedDescription').value)">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>